body {
    font-family: sans-serif;
    background-color: black;
}

header {
    color: white;
    justify-content: space-between;
    padding:15px ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.button {
    float:right;
    background-color: #4512AE;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    margin-top:34px;
    margin-left:24px;
}

nav {
    color: white;
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
}

article {
    background-color: white;
    padding:15px 45px 15px 45px ;
    width: 400px;
    margin:20px ;
}

.article-but {
    text-decoration: none;
    background-color: #4512AE;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;;
}

footer {
    display: flex;
    background-color: #4512AE;
    padding:35px;
}

footer a {
    display: flex;
    margin-right:40px;
}

footer p {
    display: flex;
    font-size: 24px;
}
